* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #00008bcb;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
.loader .loading {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50px;
  margin: 0 10px;
  animation: load 0.8s ease infinite;
}
.loader .loading.One {
  animation-delay: 0.3s;
}
.loader .loading.Two {
  animation-delay: 0.4s;
}
.loader .loading.Three {
  animation-delay: 0.5s;
}
.loader .loading.Four {
  animation-delay: 0.6s;
}
@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
